<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation_testing" thread-count="2" parallel="tests">
<listeners>
<listener class-name="com.aventstack.chaintest.plugins.ChainTestListener"></listener>
<listener class-name="com.qa.orangeendtoend.Listners.AllurListeners"></listener>
</listeners>
	<test  name="chrome">
	<parameter name="browserNamexml" value="browser"></parameter>
	<parameter name="headlessModexml" value="headless"></parameter>
	<parameter name="privateModexml" value="incognito"></parameter>
		<classes>
		
			<class name="com.qa.orangeendtoend.testcases.AddcandidateTest" />
			<class name="com.qa.orangeendtoend.testcases.PIMTest" />
			<class name="com.qa.orangeendtoend.testcases.LoginTest" />
			<class name="com.qa.orangeendtoend.testcases.AddvaccanciesTest" />
			<class name="com.qa.orangeendtoend.testcases.DashboardTest" />
		</classes>
		</test>
		<test  name="edge">
	<parameter name="browserNamexml" value="browser"></parameter>
	<parameter name="headlessModexml" value="headless"></parameter>
	<parameter name="privateModexml" value="incognito"></parameter>
	<classes>
		
			<class name="com.qa.orangeendtoend.testcases.AddcandidateTest" />
			<class name="com.qa.orangeendtoend.testcases.PIMTest" />
			<class name="com.qa.orangeendtoend.testcases.LoginTest" />
			<class name="com.qa.orangeendtoend.testcases.AddvaccanciesTest" />
			<class name="com.qa.orangeendtoend.testcases.DashboardTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
